* {
	margin: 0;
}

body {
	font-size: 1em;
	/*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
	background: #ccc;
}

.menu li.list-group-item.active {
	background-color: #fff;
	border-color: blue;
    border-left:solid 10px blue;
}  

.menu li a {
	color: #212529;
} 

.menu li a:hover {
	text-decoration: none;
	color: blue;
} 

/* estilo galeria de fotos */
.gallery {
	margin: 15px 20px 80px 20px;
	border: 2px solid #ccc;
	border-radius: 6px;
	/*border-style: dashed;
	padding: 3px 9px 10px 1px;*/
	float: left;
	width: 220px;
	height: 170px;
}
.gallery:hover {
	border: 2px solid #777;
}
.gallery img {
	/*width: 100%;*/
	height: 100%;
	max-width: 100%;
}

/* estilo dados para edição */
.edit {
	margin: 15px 20px 80px 20px;
	border-radius: 6px;
	/*border-style: dashed;*/	
	width: 420px;
	height: 370px;
}
.edit:hover {
	border: 2px solid #777;
} 
.edit img {
	width: 100%;
	height: 100%;
} 	

/* estilo para link do header */
#area-cabecalho a:link, 
#area-cabecalho a:visited {
	color: #FFF;
	padding: 8px 12px;
	font-size: 1.2em;
}

#area-cabecalho a:hover {
	color: blue;
	background: #FFF;
	text-decoration: none;
}

/* estilo login */
#container2 {
	width: 400px;
	height: 300px;
}

.input-login form div input, .input-login form div.alert {
	border-radius: 30px;
}