* {
	margin: 0;
}

body {
	font-size: 1em;
	/*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
	background: #ccc;
}

.menu li.list-group-item.active {
	background-color: #fff;
	border-color: blue;
    border-left:solid 10px blue;
}  

.menu li a {
	color: blue;
} 

.menu li a:hover {
	text-decoration: none;
	color: white;
	background-color: blue;
} 

/* estilo para link do header */
#area-cabecalho a:link, 
#area-cabecalho a:visited {
	color: #FFF;
	padding: 8px 12px;
	font-size: 1.2em;
}

#area-cabecalho a:hover {
	color: blue;
	background: #FFF;
	text-decoration: none;
}

/* estilo login */
#container2 {
	width: 400px;
	height: 300px;
}

.input-login form div input, .input-login form div.alert {
	border-radius: 30px;
}